.aboutContainer {
  position: relative;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: #ffff;
  margin: 10px;
  padding: 10px;
  width: 800px;
  overflow: hidden;

  .title {
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    color: #6b6d71;
  }

  .img {
    display: flex;
    min-width: 780px;
    margin: 10px;
    animation: move 11s infinite linear;
  }
}

@keyframes move {
  15% {
    transform: translate(-0px);
  }
  35% {
    transform: translate(-0px);
  }
  40% {
    transform: translate(-800px);
  }
  60% {
    transform: translate(-800px);
  }
  65% {
    transform: translate(-1600px);
  }
  85% {
    transform: translate(-1600px);
  }
  90% {
    transform: translate(0);
  }
}

