.selectContainer {
  margin: 8px 10px 0;

  .select {
    border: 1px solid rgb(164, 162, 162);
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    padding: 3px 10px;
    font-weight: 400;
    height: 58px;
    color: rgb(124, 124, 124);
  }
}
